# ignore files from victim system
stolen_files/*

# ignore individual storage files
scripts/storage/*

# ignore fingerprints
fp*

# ignore csv
server/csv/results/*

# ignore virtual envs
.venv

# ignore logfiles
LOG*.txt

# ignore pycharm folders
.idea
**/__pycache__/
