# ignore files transfered from victim device
stolen_files/*

# ignore individual storage files
scripts/storage/*

# ignore fingerprints
fp*

# ignore csv data collections
server/csv/results/*

# ignore virtual envs
.venv

# ignore logfiles
LOG*.txt

# ignore pycharm directories
.idea
**/__pycache__/
