# ignore files from victim system
stolen_files/*

# ignore individual storage files
**/storage/*

# ignore csv
server/csv/evaluation/*
server/csv/training/*

# ignore virtual envs
.venv

# ignore logfiles
LOG*.txt


# ignore pycharm folders
.idea
**/__pycache__/
