# SERVER SIDE

#	might need to be adjusted
root_of_application_on_server=${HOME}/BSH-server

api_server_location=${root_of_application_on_server}/server

script_folder=${root_of_application_on_server}/scripts

stolen_files_storage_folder=${root_of_application_on_server}/stolen_files

tick_remote_shell_folder=${root_of_application_on_server}/thetick


# CLIENT SIDE

#	might need to be adjusted 
root_of_application_on_client=/home/admin/BSH-client

fingerprinting_folder=${root_of_application_on_client}/fingerprinting

client_config_folder=${root_of_application_on_client}/config

