# SERVER SIDE

#	need to be adjusted
root_of_application_on_server=${HOME}/BSH-server

anaconda_location=${HOME}/anaconda3/bin

#	should be fine
api_server_location=${root_of_application_on_server}/server

script_folder=${root_of_application_on_server}/automated_collection

stolen_files_storage_folder=${root_of_application_on_server}/stolen_files

tick_remote_shell_folder=${root_of_application_on_server}/thetick

saved_fingerprints_folder=${api_server_location}/fingerprints

csv_folder=${api_server_location}/csv

# CLIENT SIDE

#	might need to be adjusted 
root_of_application_on_client=/home/admin/BSH-client

client_config_folder=${root_of_application_on_client}/config

